<div class="cronometro" fxLayout="row" fxLayoutAlign="space-between start">
    <div class="col-3">
        <mat-form-field class="w-100">
            <mat-label>Minuti</mat-label>
            <button mat-icon-button matPrefix color="primary" aria-label="Decrementa minuti" (click)="decrementaMinuti()">
                <mat-icon>remove</mat-icon>
            </button>
            <input matInput [(ngModel)]="minuti" class="text-center" (change)="onChangeMinuti()" />
            <button mat-icon-button matSuffix color="primary" aria-label="Incrementa minuti" (click)="incrementaMinuti()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-3">
        <mat-form-field class="w-100">
            <mat-label>Secondi</mat-label>
            <button mat-icon-button matPrefix color="primary" aria-label="Decrementa secondi" (click)="decrementaSecondi()">
                <mat-icon>remove</mat-icon>
            </button>
            <input matInput [(ngModel)]="secondi" class="text-center" (change)="onChangeSecondi()" />
            <button mat-icon-button matSuffix color="primary" aria-label="Incrementa secondi" (click)="incrementaSecondi()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-3">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Tempo</mat-label>
            <mat-select>
                <mat-option [value]="'PrimoTempo'">
                    Primo tempo
                </mat-option>
                <mat-option [value]="'SecondoTempo'">
                    Secondo tempo
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-3">
        <button mat-flat-button color="primary" class="mx-2" *ngIf="!avviato" (click)="avviaCronometro()">Avvia</button>
        <button mat-flat-button color="primary" class="mx-2" *ngIf="avviato" (click)="stoppaCronometro()">Stop</button>
        <button mat-flat-button color="warn" class="mx-2" (click)="resetCronometro()">Reset</button>
    </div>
</div>