<h3>Cronometro</h3>
<div class="row cronometro">
    <div class="col-6">
        <mat-form-field class="w-100">
            <mat-label>Minuti</mat-label>
            <button mat-icon-button matPrefix color="primary" aria-label="Decrementa minuti">
                <mat-icon>remove</mat-icon>
            </button>
            <input matInput value="8" class="text-center" />
            <button mat-icon-button matSuffix color="primary" aria-label="Incrementa minuti">
                <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field class="w-100">
            <mat-label>Secondi</mat-label>
            <button mat-icon-button matPrefix color="primary" aria-label="Decrementa secondi">
                <mat-icon>remove</mat-icon>
            </button>
            <input matInput value="8" class="text-center" />
            <button mat-icon-button matSuffix color="primary" aria-label="Incrementa secondi">
                <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col-8">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Tempo</mat-label>
            <mat-select>
                <mat-option [value]="'PrimoTempo'">
                    Primo tempo
                </mat-option>
                <mat-option [value]="'SecondoTempo'">
                    Secondo tempo
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-4">
        <button mat-flat-button color="primary" class="w-100 mt-2">Avvia</button>
    </div>
</div>