<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-center">Registrazione</h1>
            <form [formGroup]="registrazioneFormGroup" (ngSubmit)="onSubmit()">
                <mat-form-field class="w-100 mb-2">
                    <mat-label>Nome</mat-label>
                    <input matInput  formControlName="nome" />
                    <mat-error>
                      {{validationMessages.getErrorMessage(nome)}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100 mb-2">
                    <mat-label>Email</mat-label>
                    <input matInput  formControlName="email" />
                    <mat-error>
                      {{validationMessages.getErrorMessage(email)}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100 mb-2">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" />
                    <mat-error>
                      {{validationMessages.getErrorMessage(password)}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100 mb-2">
                    <mat-label>Conferma Password</mat-label>
                    <input matInput type="password" formControlName="confermaPassword" />
                    <mat-error>
                      {{validationMessages.getErrorMessage(confermaPassword,'Password')}}
                    </mat-error>
                </mat-form-field>
                <div class="w-100 mb-2">
                  <mat-checkbox formControlName="consensoDati">Trattamento dati</mat-checkbox>
                    <mat-error>
                      {{validationMessages.getErrorMessage(consensoDati)}}
                    </mat-error>
                </div>
                <button mat-flat-button color="primary" class="w-100">Registrati</button>
            </form>
        </div>
    </div>
</div>